# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase config (do not publish sensitive keys)
client/lib/firebase.js
client/lib/firebase.ts
client/lib/firebaseConfig.js
client/lib/firebaseConfig.ts

.config/
